.iztro-wiki {
  width: 600px;
  max-height: 600px;
  overflow: auto;
  background-color: white;
  padding: 16px;
  border: 1px solid var(--iztro-color-border);

  .iztro-wiki-link {
    color: var(--iztro-color-purple);
  }

  .popover-arrow {
    border-right: 10px solid var(--iztro-color-border);
  }
}
