:root {
  --callout-accent-note: hsl(212, 92%, 45%);
  --callout-accent-tip: hsl(137, 66%, 30%);
  --callout-accent-important: hsl(261, 69%, 59%);
  --callout-accent-warning: hsl(40, 100%, 30%);
  --callout-accent-caution: hsl(356, 71%, 48%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --callout-accent-note: hsl(215, 93%, 58%);
    --callout-accent-tip: hsl(128, 49%, 49%);
    --callout-accent-important: hsl(262, 89%, 71%);
    --callout-accent-warning: hsl(41, 72%, 48%);
    --callout-accent-caution: hsl(3, 93%, 63%);
  }
}

.callout {
  --calloutAccent: var(--callout-accent, var(--callout-accent-note));
  --calloutHeaderFontWeight: var(--callout-header-font-weight, 500);
  border-left: 0.25em solid var(--calloutAccent);
  padding: 0.5rem 1rem;
  color: inherit;
}

.callout-indicator {
  display: flex;
  line-height: 1;
  margin-bottom: 16px;
  color: var(--calloutAccent);
}

.callout-hint > svg {
  margin-right: 0.5rem;
  fill: currentColor;
  display: inline-block;
  vertical-align: text-bottom;
}

.callout-content:first-child,
.callout-content:only-child {
  margin-block-start: 0;
}

.callout-content:last-child,
.callout-content:only-child {
  margin-block-end: 0;
}

.callout-commend {
  --callout-accent: var(--callout-accent-tip);
}
.callout-warn {
  --callout-accent: var(--callout-accent-warning);
}
.callout-deter {
  --callout-accent: var(--callout-accent-caution);
}
.callout-assert {
  --callout-accent: var(--callout-accent-important);
}
